.kaufman__triangle{
  background-image: url(../../../images/kaufman-triangle.svg);
  position:absolute;
  right: -210px;
  top:0px;
  width: 877px;
  height: 877px;
  z-index: -1;
  background-size: cover;
}
